<section class="seccion">
  <main>
    <aside></aside>
    <main></main>
    <section class="grafico">
      <img
        src="/public/img/Valores.jpg"
        alt="Grafico de valores"
        class="imgGrafico"
      />
    </section>
  </main>
</section>

<style>
  .seccion {
    display: flex;
    height: 100vh;
    align-items: center;
    background: gray;
  }

  .grafico {
    display: flex;
    background: red;
    padding: 15px;
    position: absolute;
    right: 0;
    width: 40%;
  }

  .imgGrafico {
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }
</style>
