---
import Modal from "./sub-services/entrenamientoComercial.astro";
import Modals from "../components/modal.astro";
---

<section class="services-container">
  <h2 class="services-title">Servicios</h2>
  <Modal isVisible={false} />

  <Modals client:load />
</section>

<script is:raw>
  // Seleccionar elementos del DOM
  const modal = document.querySelector(".modal-overlay");

  const openButton = document.getElementById("open-modal");

  const closeButton = document.getElementById("close-modal");

  // Mostrar modal
  openButton.addEventListener("click", () => {
    modal.classList.add("block");
    modal.classList.remove("hidden");
  });

  // Ocultar modal
  closeButton.addEventListener("click", () => {
    modal.classList.add("hidden");
    modal.classList.remove("block");
  });
</script>

<style>
  .services-container {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 2rem;
  }

  .services-title {
    text-align: center;
    color: #060270;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    position: relative;
  }

  .services-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background: linear-gradient(90deg, #3e7a9a, #7901d4);
  }
</style>
